@font-face {
  font-family: 'IAMAPLAYER';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

.App {
  background-color: #404040;
  font-family: "IAMAPLAYER";
  white-space: pre-wrap;
  /* margin: 0 309px; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

p {
  color: #F5F5F5;
}

header {
  color: #404040;
  width: 100vw;
  height: 110px;
  position: fixed;
}

header > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 309px;
  padding-top: 44px;
  margin: 0;
  gap: 80px;
}

header > a {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  font-size: 16px;
}

a.header-position {
  color: #F5F5F5;
}

section {
  height: 100vh;
  padding-top: 110px;
  margin: 0 309px;
}

.main-container {
  max-width: 1302px;
  height: 573px;
  border-left: 3px solid #A7A7A7;
  padding: 88px 27px;
  margin-top: 48px;
  box-sizing: border-box;
}

h1 {
  font-size: 64px;
  color: #F5F5F5;
  font-weight: 500;
}

h1 > span {
  display: block;
  background-color: #473D3D;
  margin-bottom: 20px;
}



.title-container > p {
  font-size: 20px;
  color: #F5F5F5;
}

.copyright-container {
  margin: 0 309px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

.copyright-container > p {
  color: #706f6f;
  font-size: 14px;
  margin: 0;
}

h2 {
  color: #DDCDCD;
  font-size: 48px;
  font-weight: 100;
  margin-top: 48px;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  color: #F0EFEF;
}

.introduce-section > h2 {
  margin-bottom: 54px;
}

.img-container > img {
  width: 421px;
  height: 639px;
  border-radius: 45px;
}

.introduce-container {
  display: flex;
  gap: 130px;
}

.introduce-text-container > h3 {
  margin: 32px 0;
}

.introduce-text {
  border-bottom: 1px solid rgba(217, 217, 217, 0.2);
  border-top : 1px solid rgba(217, 217, 217, 0.2);
  padding: 32px 0;
  box-sizing: border-box;
}

.introduce-text-container span {
  color: #0ACAD7;
  font-weight: bold;
}

.introduce-text > p:first-of-type {
  font-size: 24px;
  font-weight: 500;
}

.introduce-text > p {
  font-family: "NOTO SANS KR";
  font-weight: 100;
  margin: 0;
  padding-bottom: 20px;
  line-height: 1.5;
}

.introduce-text > p:last-of-type {
  padding-bottom: 0;
}

.stack-graph-container {
  margin-top: 32px;
}

.stack-graph-circle-container {
  padding: 32px;
}

.stack-graph-container > h3 > span {
  font-weight: 500;
  font-family: "NOTO SANS KR";
  font-size: 24px;
}

.circle-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.circle-li {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.circle-img {
  position: relative;
}

.icon-img {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.percent {
  font-family: "NOTO SANS KR";
  text-align: center;
}

.percent-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}







@media screen and (max-width: 1365px) {
  
}

@media screen and (max-width: 799px) {
  
}